.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
}

.reverse {
  flex-direction: row-reverse;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  gap: 50px;
  margin: 0 2%;
}

.chapter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chapter > p {
  max-width: 300px;
  color: rgba(21, 20, 57, 0.4);
}

@media only screen and (max-width: 610px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .wrapper > img {
    width: 300px;
    height: auto;
  }
}

@media only screen and (min-width: 611px) and (max-width: 768px) {
  .wrapper > img {
    width: 300px;
    height: auto;
  }
}
