.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.mySwiper {
  width: 100vw;
  overflow: hidden;
  margin: 32px 0 0 0;
}

.mySwiper > * {
  transition-timing-function: linear !important;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  text-wrap: balance;
  width: fit-content;
  max-width: var(--max-width);
}

.sub_title {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: var(--max-width);
  margin: 32px 2% 100px 2%;
  color: #1e0e62;
}

@keyframes ticker-kf {
  0% {
    transform: translate3d(40%, 0, 0);
  }

  100% {
    transform: translate3d(-40%, 0, 0);
  }
}

@keyframes ticker-reverse-kf {
  0% {
    transform: translate3d(-40%, 0, 0);
  }

  100% {
    transform: translate3d(40%, 0, 0);
  }
}

@media only screen and (max-width: 1150px) {
  .title {
    margin: 100px 2% 32px 5%;
  }

  .sub_title {
    margin: 32px 5% 100px 2%;
  }
}
